@charset "utf-8";
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.table.table-bordered td {
    /* text-align: center; */
    vertical-align: middle;
}

.bg-body {
    background-color: #222d32;
}

.ta-center {
    text-align: center;
}

.mt-150 {
    margin-top: 150px;
}

.mb-30 {
    margin-bottom: 30px;
}

aside {
    height: 100%;
    width: 180px;
    background-color: #222d32;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
}

aside.active {
    left: -180px;
}

aside .title {
    width: 100%;
    height: 50px;
    background-color: #367fa9;
}

aside .title a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

aside .user img {
    height: 80px;
    width: 80px;
    display: block;
    border-radius: 50%;
    margin: 30px auto 0;
}

aside .user p {
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

aside .info {
    margin-top: 30px;
}

aside .info li a {
    display: block;
    width: 180px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    border-left: 3px solid transparent;
}

aside .info li a.active {
    background-color: #333;
    border-left-color: #367fa9;
}

aside .info ul li .category a {
    padding-left: 50px;
}

article {
    padding-left: 180px;
    box-sizing: border-box;
    transition: all .5s;
    height: 100%;
}

article.active {
    padding-left: 0;
}

article .topbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #3c8dbc;
    padding: 0 20px;
    line-height: 50px;
}

article .topbar a {
    color: #fff;
    font-size: 16px;
}

article .main {
    padding: 20px;
    padding-top: 50px;
}

article .main .left {
    width: 45%;
    height: 500px;
    background-color: #333;
}

article .main .right {
    width: 45%;
    height: 500px;
}
.uploadwrapper {
    position: relative;
    width: 82px;
    height: 34px;
}
#fileupload {
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 34px;
    opacity: 0;
}